* {
  background-color: rgb(196, 158, 107);
}
.heading {
   text-align: center;
   margin-left: 450px;
   margin-top: -200px;
  color: black;
}
.para {
  color: brown;
 text-align: center;
 margin-left: 400px;
 margin-bottom: 0px;
 }
 .parag {
  color: chocolate;
  text-align: center;
  padding-bottom: 50px;
  margin-left: 400px;
 }
 .signup {
  margin-left: 400px;
  border-radius: 2px;
  border-width: 10px;
 }
